{{set root=".."}}
{{set pageId ="gallery"}}
{{> header title='Zip-Doc' cssName='gallery'}}
<div class="zd-contents">
	<section class="gallery-banner-wrapper" >
		<div class="gallery-banner">
			<div class="banner-logo">
				<img src="{{root}}/img/img_kitchen_logo_f.png">
			</div>
			<div class="banner-text">
				집닥이 만든 <span>주방 브랜드</span><br>
				이제 그 특별함을 만나보세요!
			</div>
			<div class="banner-img">
				<img src="{{root}}/img/img_kitchen_banner.jpg">
			</div>
		</div>
	</section>
	<section class="gallery-navi-wrapper" >
		<ul class="gallery-navi">
			<li>
				<select id="select-space" title="space">
					<option value="gallery" selected="selected">--공간선택--</option>
					<option value="house">주거공간</option>
					<option value="commercial">상업공간</option>
					<option value="partial">부분시공</option>
				</select>
			</li>
			<li>
				<select id="select-space-desc" title="desc">
					<option selected="selected">--주거선택--</option>
				</select>
			</li>
			<li>
				<select id="select-type" title="type">
					<option selected="selected">-전체-</option>
					<option val="title">제목</option>
					<option val="tag">태그</option>
					<option val="partners">파트너스</option>
				</select>
			</li>
			<li class="gallery-search-form">
				<input class="form-control navi-input" type="text">
				<div class="navi-btn">검색</div>
			</li>
		</ul>
	</section>
	<section class="gallery-lists-wrapper" >
				<div class="gallery-list">
					<ul>
					</ul>
				</div>
		<!--............................................-->
	</section>
	<section class="gallery-pages-wrapper" >
		<div class="common-pages">
			<ul>
				<li class="page-leftest page-navi">&lt;&lt;</li>
				<li	class="page-left page-navi">&lt;</li>
				<li class="page-active pages  page-first"></li>
				<li class="pages"></li>
				<li class="pages"></li>
				<li class="pages"></li>
				<li class="pages page-last"></li>
				<li class="page-right page-navi">&gt;</li>
				<li	class="page-rightest page-navi">&gt;&gt;</li>
			</ul>

		</div>
	</section>



</div>
{{> footer jsName='gallery'}}
