{{set pageId="gallery-details"}}
{{> header title='Zip-Doc' cssName='gallery-details'}}
<div class="zd-contents-wrapper">
	<div class="zd-contents">
		<section class="galdetails-summary">
			<div class="summary-header">
				<ul class="summary-header-title">
					<li>
						책이 좋아 북카페가 된 43평 아파트 인테리어
					</li>
					<li>
						<i class="fa fa-eye">13</i>
						<i class="fa fa-paperclip">13</i>
						<i class="fa fa-share-alt">0</i>
					</li>
				</ul>
				<ul class="summary-header-desc">
					<li>서울 서초구 서초동 래미안서초5차아파트</li>
					<li>43평</li>
					<li>4,500만원~5,500만원</li>
				</ul>
			</div>
			<div class="summary-contents">
				<div class="summary-contents-show">
					<div class="show-viewer">
						<ul class="show-viewer-lists">
							<li class="show-viewer-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')">

							</li>
						</ul>
						<div class="show-viewer-arrow common-arrow arrow-left">&lt;</div>
						<div class="show-viewer-arrow common-arrow arrow-right">&gt;</div>
					</div>
					<ul class="show-table">
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
					</ul>
				</div>
				<div class="summary-contents-galinfo">
					<ul>
						<li>
							<div class="galinfo-title">공사명</div>
							<div class="galinfo-desc">책이 좋아 북카페가 된 43평 아파트 인테리어</div>
						</li>
						<li>
							<div class="galinfo-title">공사구분</div>
							<div class="galinfo-desc">주거공간/아파트</div>
						</li>
						<li>
							<div class="galinfo-title">공사면적</div>
							<div class="galinfo-desc">43평</div>
						</li>
						<li>
							<div class="galinfo-title">공사지역</div>
							<div class="galinfo-desc">서울 서초구 서초동 래미안서초5차아파트</div>
						</li>
						<li>
							<div class="galinfo-title">공사기간</div>
							<div class="galinfo-desc">전체공사</div>
						</li>
						<li>
							<div class="galinfo-title">시공방법	</div>
							<div class="galinfo-desc">전체공사</div>
						</li>
						<li>
							<div class="galinfo-title">시공업체	</div>
							<div class="galinfo-desc">일리 디자인</div>
						</li>
					</ul>
					<div class="galbtns">
						<div class="galbtns-inform">
							<div><i class="fa fa-paperclip"></i> 찜하기</div>
							<div><i class="fa fa-share-alt"></i> 공유하기</div>
						</div>
						<div class="galbtns-estimate"><i class="fa fa-share-alt"></i> 견적신청</div>
					</div>
				</div>
			</div>
		</section>
		<section class="galdetails-form">
			<div class="galbtns form-galbtns">
				<div class="galbtns-inform">
					<div><i class="fa fa-paperclip"></i> 찜하기</div>
					<div><i class="fa fa-share-alt"></i> 공유하기</div>
				</div>
				<div class="galbtns-estimate"><i class="fa fa-share-alt"></i> 견적신청</div>
			</div>
		</section>
		<section class="galdetails-galpartners">
			<div class="galdetails-galpartners-info">
				<div class="galpartners-title">시공업체 및 시공사례</div>
				<div class="galpartners-box">
					<div class="galpartners-img-box">
						<img class="galpartners-img" src='img/partner01.jpg'>
					</div>
					<div class="galpartners-contents">
						<div class="galpartners-contents-name">
							일리 디자인
						</div>
						<ul class="galpartners-contents-lists">
							<li>
								<div class="galpartners-contents-subtitle">전문분야</div>
								<div class="galpartners-contents-desc">주거</div>
							</li>
							<li>
								<div class="galpartners-contents-subtitle">시공지역</div>
								<div class="galpartners-contents-desc">서울 / 경기</div>
							</li>
							<li>
								<div class="galpartners-contents-subtitle">주요시공사례</div>
								<div  class="galpartners-contents-desc">·경기도 남양주시 별내동 아이파크<br>
									·경기도 용인시 동백동 동보노빌리티아파트<br>
									·경기도 수내동 파크타운 삼익아파트<br>
									·서울시 강남구 삼성동 웨딩컨설팅 사무실</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="galpartners-more">더보기&gt</div>
			{{>slide}}
		</section>
	</div>
</div>
{{> footer jsName='gallery-details'}}
