{{set pageId="gallery-details"}}
{{> header title='Zip-Doc' cssName='gallery-details'}}
<div class="zd-contents-wrapper">
	<div class="zd-contents">
		<section class="galdetails-summary">
			<div class="summary-header">
				<ul class="summary-header-title">
					<li>
						책이 좋아 북카페가 된 43평 아파트 인테리어
					</li>
					<li>
						<i class="fa fa-eye">13</i>
						<i class="fa fa-paperclip">13</i>
						<i class="fa fa-share-alt">0</i>
					</li>
				</ul>
				<ul class="summary-header-desc">
					<li>서울 서초구 서초동 래미안서초5차아파트</li>
					<li>43평</li>
					<li>4,500만원~5,500만원</li>
				</ul>
			</div>
			<div class="summary-contents">
				<div class="summary-contents-show">
					<div class="show-viewer">
						<ul class="show-viewer-lists">
							<li class="show-viewer-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')">

							</li>
						</ul>
						<div class="show-viewer-arrow common-arrow arrow-left">&lt;</div>
						<div class="show-viewer-arrow common-arrow arrow-right">&gt;</div>
					</div>
					<ul class="show-table">
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
						<li class="show-table-factor" style="background-image: url('img/540x360_20170109145319903_ic9M6MsVSP.jpg')"></li>
					</ul>
				</div>
				<div class="summary-contents-galinfo">
					<ul>
						<li>
							<div class="galinfo-title">공사명</div>
							<div class="galinfo-desc">책이 좋아 북카페가 된 43평 아파트 인테리어</div>
						</li>
						<li>
							<div class="galinfo-title">공사구분</div>
							<div class="galinfo-desc">주거공간/아파트</div>
						</li>
						<li>
							<div class="galinfo-title">공사면적</div>
							<div class="galinfo-desc">43평</div>
						</li>
						<li>
							<div class="galinfo-title">공사지역</div>
							<div class="galinfo-desc">서울 서초구 서초동 래미안서초5차아파트</div>
						</li>
						<li>
							<div class="galinfo-title">공사기간</div>
							<div class="galinfo-desc">전체공사</div>
						</li>
						<li>
							<div class="galinfo-title">시공방법	</div>
							<div class="galinfo-desc">전체공사</div>
						</li>
						<li>
							<div class="galinfo-title">시공업체	</div>
							<div class="galinfo-desc">일리 디자인</div>
						</li>
					</ul>
					<div class="summary-contents-galbtns galbtns">
						<div class="galbtns-inform"><i class="fa fa-paperclip"></i> 찜하기</div>
						<div class="galbtns-inform"><i class="fa fa-share-alt"></i> 공유하기</div>
						<div class="galbtns-estimate"><i class="fa fa-share-alt"></i> 견적신청</div>
					</div>
				</div>
			</div>
		</section>
		<section class="galdetails-form">
			<div class="form-galbtns galbtns">
				<div class="galbtns-inform"><i class="fa fa-paperclip"></i> 찜하기</div>
				<div class="galbtns-inform"><i class="fa fa-share-alt"></i> 공유하기</div>
				<div class="galbtns-estimate"><i class="fa fa-share-alt"></i> 견적신청</div>
			</div>
		</section>
		<section class="galdetails-galpartners">
			<div class="galpartners-title">시공업체 및 시공사례</div>
			<div>
				<div>
					<img src="img/partner01.jpg">
				</div>
				<div>
					<div></div>
					<ul>
						<li>
							<div></div>
							<div></div>
						</li>
						<li>
							<div></div>
							<div></div>
						</li>
						<li>
							<div></div>
							<div></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="recommend-selects-contents">
				<ul>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
					<li>
						<div class="recommend-img" style="background-image: url('img/540x360_20170110120307388_fve0lNGvHT.jpg')">

						</div>
						<div class="recommend-text">
							<div class="recommend-text-title overflow-text">
								디테일이 살아있는 20평대 화이트&등드읃으 이야기들이 너무 많슴
							</div>
							<div class="recommend-text-addr overflow-text">
								서울 노원구 중계동 건영 3차 309동 1105호
							</div>
							<div class="recommend-text-descs">
								<div class="recommend-text-desc">
									50평
								</div>
								<div class="recommend-text-desc">
									아파트
								</div>
								<div class="recommend-text-desc">
									2,500만원
								</div>
							</div>
						</div>
						<div class="recommend-favor">
							<i class="fa fa-paperclip"></i>
							59
						</div>
					</li>
				</ul>
				<div class="recommend-arrow common-arrow arrow-left">&lt;</div>
				<div class="recommend-arrow common-arrow arrow-right">&gt;</div>
			</div>
		</section>
	</div>
</div>
{{> footer jsName='gallery-details'}}
