{{> header title='Zip-Doc' cssName='gallery'}}

<div class="zd-contents">
	<section class="gallery-banner-wrapper wrapper" >
		<div class="gallery-banner">
			<div class="banner-logo">
				<img src="img/img_kitchen_logo_f.png">
			</div>
			<div class="banner-text">
				집닥이 만든 <span>주방 브랜드</span><br>
				이제 그 특별함을 만나보세요!
			</div>
			<div class="banner-img">
				<img src="img/img_kitchen_banner.jpg">
			</div>
		</div>
	</section>
	<section class="gallery-navi-wrapper wrapper" >
		<ul class="gallery-navi">
			<li>
				<select id="select-space" title="space">
					<option selected="selected">-전체공간-</option>
					<option>주거공간</option>
					<option>상업공간</option>
					<option>부분시공</option>
				</select>
			</li>
			<li>
			<select id="select-space-desc" title="desc">
				<option selected="selected">-전체-</option>
			</select>
			</li>
			<li>
				<select id="select-type" title="type">
					<option selected="selected">-전체-</option>
					<option>제목</option>
					<option>태그</option>
					<option>파트너스</option>
				</select>
			</li>
			<li>
				<input class="form-control navi-input" type="text">
			</li>
			<li>
				<div class="navi-btn">검색</div>
			</li>
		</ul>
	</section>
	<section class="gallery-lists-wrapper wrapper" >
		<!--....................................-->
				<div class="gallery-list">
					<ul>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
						<li>
							<div class="gallery-list-form">
								<div class="gallery-list-img" style="background-image: url('/img/720x480_20170118160938280_e6JRX2pT9n.jpg')">
								</div>
								<div class="gallery-list-text">
									<div class="gallery-list-title overflow-text">개성있는 조명들로 포인트를 준 22평 블dsfsdfsdfsdfsdfsdf</div>
									<div class="list-addr overflow-text">경기 광주시 태전동 성원아파트sdfsdfsdfsdfsdfsdfsd</div>
									<div class="gallery-list-desc">
										<div class="list-room-size">22평</div>
										<div class="list-room-type">아파트</div>
										<div class="list-room-cost">1,700만원</div>
									</div>
								</div>
								<div class="gallery-list-favor">
									<div class="fa fa-paperclip" ></div><div class="favor-num">8</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
		<!--............................................-->
	</section>
	<section class="gallery-pages-wrapper wrapper" >
		<div class="common-pages">
			<ul>
				<li class="page-leftest page-navi">&lt;&lt;</li>
				<li	class="page-left page-navi">&lt;</li>
				<li class="page-active pages">1</li>
				<li class="pages">2</li>
				<li class="pages">3</li>
				<li class="pages">4</li>
				<li class="pages">5</li>
				<li class="page-right page-navi">&gt;</li>
				<li	class="page-rightest page-navi">&gt;&gt;</li>
			</ul>

		</div>
	</section>



</div>
{{> footer jsName='gallery'}}
