{{set root="."}}
{{set pageId="login"}}
{{> header title='Zip-Doc' cssName='login'}}
<div class="zd-contents-wrapper">
	<div class="zd-contents">
		<ul>
			<li class="login-zipdoc">
				<div class="login-zipdoc-title">집닥 아이디로 로그인</div>
				<div class="login-zipdoc-input">
					<div>
						<input id="login-id" class="login-id" type="text" placeholder="아이디(email): ex)abc@naver.com">
						<i class="fa fa-envelope login-zipdoc-icon"></i>
						<div class="login-zipdoc-input-desc">
							<div class="login-zipdoc-triangle"></div>
							회원 가입 시 등록한 이메일(기존 가입자는 아이디만 입력)
						</div>
					</div>
					<div>
						<input id="login-pw" class="login-pw" type="password" placeholder="비밀번호(8자리 이상 입력해주세요)">
						<i class="fa fa-lock login-zipdoc-icon"></i>

						<div class="login-zipdoc-input-desc">
							<div class="login-zipdoc-triangle"></div>
							영어,숫자 입력
						</div>
					</div>
					<div class="login-zipdoc-find">아이디/비밀번호가 기억나지 않으세요?</div>
				</div>
				<div class="login-zipdoc-btn">
						<i class="fa fa-check"></i>로그인
				</div>
			</li>
			<li class="login-others">

			</li>
		</ul>
	</div>
</div>
{{> footer jsName='login'}}
