{{set root="."}}
{{set pageId="store"}}
{{> header title='Zip-Doc' cssName='store'}}
<div class="zd-contents-wrapper">
	<div class="zd-contents">
		{{> sub-sub-header num="0"}}

		<section>
			<ul class="store-list">
				<li>
					<div class="store-list-img" style="background-image: url('img/540x360_20170109140447030_4d4fQEqf0O.png')">
					</div>
					<div class="store-list-textbox">
						<div class="store-list-title overflow-text">국내산 저탄소 샷시 / 윈도우 윈체 공동구매 이벤트</div>
						<div class="store-list-date">2016-10-27 ~ 2017-12-31</div>
					</div>
					<div class="store-list-applying">
						<div>0</div>
						신청중
					</div>
				</li>
			</ul>
			<div class="common-pages">
				<ul>
					<li class="page-leftest page-navi">&lt;&lt;</li>
					<li	class="page-left page-navi">&lt;</li>
					<li class="page-active pages">1</li>
					<li class="pages">2</li>
					<li class="pages">3</li>
					<li class="pages">4</li>
					<li class="pages">5</li>
					<li class="page-right page-navi">&gt;</li>
					<li	class="page-rightest page-navi">&gt;&gt;</li>
				</ul>

			</div>
		</section>

	</div>
</div>
{{> footer jsName='store'}}
