<a id="top" href="#">
	<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>

<div id="right-bar">
	<div class="right-bar-background">
		<div class="right-bar-contents">
			<ul>
				<li id="detail-estimate">
					<img class="right-bar-dot" src="img/img_ani_dot01.png">
					<img src="img/icon_detail_request.png">
					<div>상세견적신청</div>
				</li>
				<li id="easy-estimate">
					<img class="right-bar-dot" src="img/img_ani_dot02.png">
					<img src="img/icon_quick_request.png">
					<div>간편견적신청</div>
				</li>
				<li class="right-bar-text">
					<div>집닥만의 혜택</div>
				</li>
				<li class="right-bar-text">
					<div>스토어</div>
				</li>
				<li class="right-bar-text">
					<div>파트너스문의</div>
				</li>
				<li class="phone-estimate right-bar-text">
					8598-4321
				</li>
				<li class="recent-view right-bar-text">
					최근본 사례
				</li>
			</ul>
		</div>
	</div>
</div>
