<div class="sub-titles">
	<div class="community-title-box">
		<img src="{{getMenuInfo pageId num "titleImg"}}">
		<span class="sub-title">{{getMenuInfo pageId num "titleTitle"}}</span><br>
		<span class="sub-title-desc">{{getMenuInfo pageId num "titleDesc1"}}<br>
			{{getMenuInfo pageId num "titleDesc2"}}</span>
	</div>
</div>
