@import 'lib/include.all.less';
@import 'common.css';

.zd-contents {
	position: relative;
	@wrapper();
	background-color: @color-background;
}
.gallery-banner-wrapper,
.gallery-navi-wrapper,
.gallery-lists-wrapper,
.gallery-pages-wrapper {
	@wrapper-under();
}

.gallery-banner-wrapper {
	padding: 0px 2%;
}
.gallery-banner {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid @color-main-border;
	border-left: 1px solid @color-main-border;
	border-right:  1px solid @color-main-border;
	background-color: white;
	display: inline-block;
}

.banner-logo {
	padding-left: 30px;
	padding-top: 22px;
	margin-right: 2%;
	float: left;
}
.banner-logo>img {
	width: 100%;
}
.banner-img {
	float: right;
}
.banner-img>img {
	width: 100%;
}
.banner-text {
	font-size: 20px;
	padding-top: 22px;
	float: left;
}
.banner-text>span {
	color: @color-brown;
	font-weight: bold;
}
.gallery-navi-wrapper {
	padding: 0px 2%;
	margin-top: 40px;
	padding-bottom: 30px;
}
.gallery-navi {
	vertical-align: top;
	text-align: center;
}

.gallery-navi>li {
	height: 50px;
	display: inline-block;
	vertical-align: top;
}
.gallery-navi>li:nth-child(1),
.gallery-navi>li:nth-child(2),
.gallery-navi>li:nth-child(3) {
	width: calc(~"100% /8");
}
.gallery-navi>li:nth-child(4) {
	width: calc(~"(100% /8)*5");

}
.navi-input,
.navi-btn {
	width: 50%;
	height: 100%;
	border: 1px solid @color-main-border;
	border-radius: 0px;
	display: inline-block;
	vertical-align: middle;
}
.gallery-navi>li.gallery-search-form {
	@margin-auto-width();
}

.gallery-navi>li>select {
	@fill();
	border: 1px solid @color-main-border;
	border-radius: 0px;

}
.navi-btn {
	color: white;
	font-size: 16px;
	line-height: 50px;
	background-color: #aaa4a4;

}
.gallery-lists-wrapper {
	padding: 0px 2%;
	padding-bottom: 10px;
}

/* 집 정보 리스트의 커먼 속성*/
.gallery-list {
	position: relative;
	width: 100%;
}
.gallery-list>ul {
	@fill();
	text-align: center;
	/*리스트들의 전체 크기
    width: 1000% ;*/
	/* 위치 고정하기 위해서
    position: absolute;*/
}
.gallery-list>ul>li {
	display: inline-block;
	/*리스트의 실제 너비사이즈(필수)
    width: @best-list-width;*/
	width: 25%;
	min-width: 235px;
	height: 300px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.gallery-list-form {
	height: 100%;
	position: relative;
	padding-bottom: 20px;
}

.gallery-list-img {
	background-size: cover;
	/*리스트의 실제 너비사이즈(필수)
    width: @best-list-width;*/
	width: 100%;
	height: calc(~"(100% / 3) * 2 ");
	border: @color-main-border 1px solid;
	background-image: url("../img/zipdoc_bottom_service_man.png");
}

.gallery-list-text {
	/*리스트의 실제 너비사이즈(필수)
    width: @best-list-width;*/
	width: 100%;
	height: calc(~"100%/3");
	border: @color-main-border 1px solid;
	border-top: none;
	text-align: left;
	padding: 10px 20px;
	background-color: white;
	color: @color-font-light;
}
.gallery-list-text>div {
	padding: 3px 0px;
}
.gallery-list-desc>div {
	display: inline-block;
	border: solid 1px @color-main-border;
	border-radius: 3px;
	margin-right: 3px;
}
.gallery-list-title {
	color: @color-font-main;
	font-size: 12px;
}

.gallery-list-favor {
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	top: calc(~"(100% / 3) * 2 ");
	right: 0px;
	transform: translateY(-146%);
	color: white;
	background-color: rgba(157, 148, 148, 0.8);
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.gallery-list-favor>div{
	display: inline-block;
	padding-right: 10px;
	line-height: 30px;
}
.gallery-list-favor>div:last-child {
	padding-right: 0px ;
}

/* 집 정보 리스트의 커먼 속성 End*/
.gallery-pages-wrapper {
	padding: 50px 2% 100px 2% ;
}

@media screen and (max-width: 870px )  {
	.gallery-banner-wrapper,
	.gallery-navi-wrapper,
	.gallery-lists-wrapper,
	.gallery-pages-wrapper {
		width: 96%;
	}
	.banner-text {
		font-size: 12px;
	}
	.banner-logo {
		width: 32%;
		padding-left: 0px;
	}
	.gallery-navi>li.gallery-search-form {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	.gallery-navi>li:nth-child(1),
	.gallery-navi>li:nth-child(2),
	.gallery-navi>li:nth-child(3) {
		width: calc(~"100% /3");
	}
}
@media screen and (max-width: 600px) {
	.gallery-list>ul>li {
		min-width: 98%;
	}
}
