@import 'lib/include.all.less';
@import 'common.css';
.zd-contents-wrapper {
	@wrapper();
	background-color: @color-background;
}
.zd-contents {
	@wrapper-under();
	padding: 0px 2%;
	border-left: 1px solid @color-main-border;
	border-right: 1px solid @color-main-border;
	background-color: white;
}

